<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Entities.Properties.Settings.strgConnectionString"
            connectionString="Data Source=MFDSOLUTIONSS;Initial Catalog=strg;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>