<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MFDService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="MFD.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <MFDService.Properties.Settings>
            <setting name="MFDService_ar_gov_afip_wswhomo_Service" serializeAs="String">
                <value>https://wswhomo.afip.gov.ar/wsfe/service.asmx</value>
            </setting>
            <setting name="MFDService_ar_com_travelpay_www_CaeCounter" serializeAs="String">
                <value>http://www.travelpay.com.ar/CaeCounter.asmx</value>
            </setting>
            <setting name="MFDService_ar_gov_afip_wsaahomo_LoginCMSService" serializeAs="String">
                <value>https://wsaahomo.afip.gov.ar/ws/services/LoginCms</value>
            </setting>
        </MFDService.Properties.Settings>
        <MFD.Properties.Settings>
            <setting name="MFDService_ar_gov_afip_wswhomo_Service" serializeAs="String">
                <value>https://wswhomo.afip.gov.ar/wsfe/service.asmx</value>
            </setting>
        </MFD.Properties.Settings>
    </applicationSettings>
</configuration>